body {
    color: #333;
    font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic";
    font-size: 14px;
    font-weight: 500;
}

.header {
  display: flex;
  align-items: center;
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.05);
  padding-bottom: 10px;
}


.HeaderLogo{
    margin-left: 40px;
}

.HeaderLogo:hover {
    opacity: 0.8
}


.HeaderLogoImg{
    height: 20px;
    width: auto;
}

.HeaderMenu{
    margin: 0 0 0 auto;
    display: flex;
    font-weight: bold;
}

.HeaderItem{
    text-align: center;
    margin: 0 15px;
}

.HeaderItemLink{
    color: #333;
    text-decoration: none;
}

.Header:hover {
    opacity: 0.8
}

.HeaderButton{
    margin: auto 20px auto 8px;
    background-color: #F79214;
    padding: 15px 20px;
    color: #fff;
    border-radius: 999px;
    text-decoration: none;
}

.HeaderButton:hover {
    opacity: 0.8
}

.FirstViewImage{
    position: relative;
}

.FirstViewImage1{
    position: absolute;
    top: 0px;
    left: -10px;
    width: 250px;
    height: auto;
}

.FirstViewImage2{
    position: absolute;
    top: 80px;
    left: -90px;
    width: 470px;
    height: auto;
}

.FirstViewImage3{
    position: absolute;
    right: 0;
    top: 0px;
}

.FirstViewImage4{
    position: absolute;
    right: 0;
    top: 350px;
}

.FirstViewContent{
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 219px;
    
}

h2{
    font-size: 36px;
    line-height: 1.6;
    margin-bottom: 30px;
    font-family: "ヒラギノ角ゴ Pro W6", "Hiragino Kaku Gothic Pro", sans-serif;
    font-weight: 900;
}

.FirstViewButton{
    display: inline-block;
    background-color: #F79214;
    padding: 25px 100px;
    color: #fff;
    border-radius: 999px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px; 
}
.FirstViewButton:hover {
  opacity: 0.8
}

.FirstViewBadge{
    position: absolute;
    top: 150px;
    left: 450px;
    width: 200px;
}