body {
    color: #333;
    font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic";
    font-size: 14px;
    font-weight: 500;
}

.Header {
  display: flex;
  align-items: center;
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.05);
  padding-bottom: 10px;
}


.HeaderLogo{
    margin-left: 40px;
}

.HeaderLogo:hover {
    opacity: 0.8
}


.HeaderLogoImg{
    height: 20px;
    width: auto;
}

.HeaderMenu{
    margin: 0 0 0 auto;
    display: flex;
    font-weight: bold;
}

.HeaderItem{
    text-align: center;
    margin: auto 15px;
    align-items: center;
}

.HeaderItemLink{
    color: #333;
    text-decoration: none;
}

.HeaderItem:hover {
    opacity: 0.8
}

.HeaderButton{
    margin: auto 20px auto 8px;
    background-color: #F79214;
    padding: 15px 20px;
    color: #fff;
    border-radius: 999px;
    text-decoration: none;
    display: inline-block;
}

.HeaderButton:hover {
    opacity: 0.8
}

.FirstView{
    margin-top: -30px;
    min-height: 600px;
}

.FirstViewImage{
    position: relative;
}

.FirstViewImage1{
    position: absolute;
    top: 0px;
    left: -10px;
    width: 250px;
    height: auto;
}

.FirstViewImage2{
    position: absolute;
    top: 80px;
    left: -90px;
    width: 470px;
    height: auto;
}

.FirstViewImage3{
    position: absolute;
    right: 0;
    top: 0px;
}

.FirstViewImage4{
    position: absolute;
    right: 0;
    top: 350px;
}

.FirstViewContent{
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
    top: 150px;
    position: relative;
    padding-top: 0px;
    
}

h2{
    font-size: 36px;
    line-height: 1.6;
    margin-bottom: 30px;
    font-family: "ヒラギノ角ゴ Pro W6", "Hiragino Kaku Gothic Pro", sans-serif;
    font-weight: 900;
}

.FirstViewButton{
    display: inline-block;
    background-color: #F79214;
    padding: 25px 100px;
    color: #fff;
    border-radius: 999px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px; 
}
.FirstViewButton:hover {
  opacity: 0.8
}

.FirstViewBadge{
    position: absolute;
    top: -50px;
    left: 450px;
    width: 200px;
}


/* タブレットのレイアウト設定 */
@media only screen and (min-width: 767px) and (max-width: 950px) {

    .Header {
        position: fixed;
        background-color: #fff;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        padding: 10px 20px;
        box-sizing: border-box;
        box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.05);
        height: 70px;
    }

    .HeaderLogo{
    margin-left: 10px;
    }

    .HeaderMenu{
        display: none;
    }

}

/* スマホのレイアウト設定 */
@media only screen and (max-width: 767px) {

    .Header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 1000;
        padding: 10px 20px;
        box-sizing: border-box;
        box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.05);
        height: 70px;
    }

    .HeaderLogo{
    margin-left: 10px;
    }
    
    .HeaderMenu{
        display: none;
    }

    .FirstView{
        display: flex;
        flex-direction: column;
        min-height: auto;
    }


    .FirstViewBadge {
        position: static;
        display: block;
        width: 140px;
        margin: 20px auto 0;
    }
    
    .FirstViewImage3 {
        position: static;
        width: 100%;
        display: block;
    }

    .FirstViewImage4 {
        display: none;
    }
    .FirstViewContent {
        position: static;
        top: auto;
        display: block;
        margin-top: 4cqb;
        padding: 0 20px;
        text-align: center;
    }
}